<div class="container-fluid">
    <div id="wrapper" class="row-fluid">
        <h3 class='menu'>User authentication</h3>

        <div class="alert alert-error" ng-show="error">{{errorMessage}}</div>
        <form ng-submit="loginUser(user)">
            <label class="control-label" for="login_name">Login</label>
            <input type="text" id="login_name" ng-model="user.username" placeholder="Login" required min="2"><br />

            <label class="control-label" for="login_password">Password</label>
            <input type="password" id="login_password" ng-model="user.password" placeholder="Password" required min="2"><br />
            <button type="submit" class="btn btn-primary" ng-disabled="!user.username || !user.password">Enter</button>
        </form>
    </div>
</div>