<div class="modal-header">
    <h3>{{ modalTitle }}</h3>
</div>
<div class="modal-body">

    <form novalidate name="sessionForm">
        <label for="subject">Subject:</label>
        <input id="subject" type="text" ng-model="modalData.subject" placeholder="Subject" required size="60"><br />
        <label for="start-date">Start time:</label>
        <quick-datepicker id="start-date" ng-model='modalData.startDate' required="true" init-value="{{modalData.startDate | date: 'M/d/yyyy hh:mm'}}"></quick-datepicker><br>
        <label for="end-date">End time:</label>
        <quick-datepicker id="end-date" ng-model='modalData.endDate' required="true" init-value="{{modalData.endDate | date: 'M/d/yyyy hh:mm'}}"></quick-datepicker><br>
        <label for="description">Description:</label>
        <textarea id="description" ng-model="modalData.description" placeholder="Description" required rows="5" cols="57"></textarea><br />
        <search-room ng-object-model="modalData.room.name" required></search-room><br />
        <label for="speakers">Speakers:</label>

        <select id="speakers" multiple required ng-model="modalData.speakers">
            <option ng-repeat="s in modalData.speakersForSelect.data | orderBy: 's.name'" value="{{s.id}}" ng-selected="{{modalData.speakersForSelect.selected(modalData.speakers, s)}}">{{s.name}}</option>
        </select>
    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()" ng-disabled="sessionForm.$invalid">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>

