<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <strong>
                {{session.subject}}
            </strong>
        </h3>
    </div>
    <div class="panel-body">
        <p ng-bind-html="session.description" style="white-space: pre;"></p>
    </div>
    <div class="panel-footer"><p><a class="btn btn-primary btn-lg" role="button" onclick="javascript: history.go(-1)">Back</a>
    </p></div>
</div>