<div class="panel panel-default" ng-repeat="s in sessions | filter:quickSearch.text | orderBy: 'validFrom'">

    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="" ng-click="viewDetails(s.id)">{{s.startDate | date:'dd.MM.yyyy HH:mm'}} - {{s.endDate
                | date:'dd.MM.yyyy HH:mm' }}</a>
        </h3>
    </div>
    <div class="panel-body">
        <div class="media">
            <a for-authenticated ng-click="edit(s)" href=""> <i class="pull-right glyphicon glyphicon-edit"></i></a>
            <a for-authenticated ng-click="delete(s)" href=""> <i class="pull-right glyphicon glyphicon-remove"></i></a>
            <a class="pull-left" ng-click="viewDetails(s.id)" href="">
                <img class="media-object" src="../images/conference.png">
            </a>

            <div class="media-body">
                <h4 class="media-heading">{{s.subject}}</h4>
                <h5>{{s.room.name}}</h5>
                <div class="list-group">
                    <li class="list-group-item" ng-repeat="speaker in s.speakersFull">
                        <a for-authenticated ng-click="removeSpeaker(speaker.id, s)" href=""> <i class="pull-right glyphicon glyphicon-remove"></i></a>
                        {{(speaker.name)}}
                    </li>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12" align="right">
        <input type="button" ng-click="edit()" value="Add new" class="btn btn-default" for-authenticated/>
    </div>
</div>