<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/ngQuickDate/dist/ng-quick-date.css" />
    <link rel="stylesheet" href="bower_components/ngQuickDate/dist/ng-quick-date-default-theme.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="conferenceApplication">

    <div ng-controller="RootCtrl" ng-cloak="">
      <div id="nav-main" class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#/home" ng-class="{ active: isActive('/#/home') }">Home</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li ng-repeat="m in menuLinks">
                <a href="{{m.url}}" ng-class="{ active: isActive('{{m.url}}') }" active-link="active" onclick="closeMenu()">{{m.title}}</a>
              </li>
            </ul>
            <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" ng-model="quickSearch.text">
              </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <!-- For not authenticated users -->
                <a href="/#/login" ng-hide="isAuthenticated">Log in</a>
                <!-- For authenticated users -->
                <a href="/logout" ng-show="isAuthenticated">Log out</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container" ng-view></div>
    </div>


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/ngQuickDate/dist/ng-quick-date.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script src="src/app.js"></script>
    <script src="src/common/directive.js"></script>
    <script src="src/common/filter.js"></script>
    <script src="src/security/Auth.js"></script>
    <script src="src/security/SecurityResource.js"></script>
    <script src="src/security/SecurityService.js"></script>
    <script src="src/unicorn/home/HomeCtrl.js"></script>
    <script src="src/unicorn/home/RootCtrl.js"></script>
    <script src="src/unicorn/login/LoginController.js"></script>
    <script src="src/unicorn/session/SessionResource.js"></script>
    <script src="src/unicorn/session/SessionService.js"></script>
    <script src="src/unicorn/session/SessionDetailCtrl.js"></script>
    <script src="src/unicorn/session/SessionListCtrl.js"></script>
    <script src="src/unicorn/speaker/SpeakerResource.js"></script>
    <script src="src/unicorn/speaker/SpeakerService.js"></script>
    <script src="src/unicorn/speaker/SpeakerListCtrl.js"></script>
    <script src="src/common/modal/ModalFormInstanceCtrl.js"></script>
        <!-- endbuild -->
    <script>
      function closeMenu() {
        var toggleButton = $('.navbar-toggle');
        if (toggleButton.css('display') !== 'none') {
          console.log('will close');
          toggleButton.click();
        }
      }
    </script>
  </body>

</html>
