<div class="modal-header">
    <h3>{{ modalTitle }}</h3>
</div>
<div class="modal-body">
    <div class="pull-left">
        <img class="media-object img-rounded" ng-src="{{modalData.avatarUri}}" alt="avatar"
             height="100px">
    </div>
    <div class="media-body ng-binding">
        <form>
            <label>Name:</label>
            {{ modalData.name }} <br />
            <label>Organization:</label>
            {{ modalData.organization.name }} <br />
            <label>Education:</label>
            {{ modalData.biography.education }} <br />
            <label>Achievements:</label>
            <ul>
                <li ng-repeat="achievement in modalData.biography.achievements">
                    {{ achievement }} <br />
                </li>
            </ul>
        </form>

        <h2 ng-show="modalData.sessions.length">Sessions</h2>

        <form ng-repeat="session in modalData.sessions">
            <label>Subject:</label>
            <a href="#/sessions/{{session.id}}" ng-click="ok()">{{ session.subject }}</a> <br />
            <label>Start date:</label>
            {{ session.startDate | date:'dd.MM.yyyy HH:mm' }} <br />
            <label>End date:</label>
            {{ session.endDate | date:'dd.MM.yyyy HH:mm' }} <br />
            <label>Room:</label>
            {{ session.room.name }} <br />
        </form>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>