<div class="modal-header">
    <h3>{{ modalTitle }}</h3>
</div>
<div class="modal-body">
    <form novalidate name="speakerForm">
        <label for="name">Name:</label>
        <input id="name" type="text" ng-model="modalData.name" placeholder="Speaker full name" required><br />
        <search-organization ng-object-model="modalData.organization.name"></search-organization><br />
        <label for="education">Education:</label>
        <input id="education" type="text" ng-model="modalData.biography.education" placeholder="Education and credencials" required><br />
        <label for="achievements">Achievements:</label>
        <textarea id="achievements" class="textarea-control" rows="3" ng-model="modalData.biography.achievements" ng-list="&#10;" ng-trim="false" placeholder="Notable achievements (separate by new line)"></textarea><br />
        <label for="avatar">Picture:</label>
        <span ng-show="speakerForm.avatar.$error.required">Add a picture!</span>
        <input id="avatar" valid-file name="avatar" type="file" file-model="modalData.avatar" ng-model="filefield" ng-required="!modalData.id"/>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()" ng-disabled="speakerForm.$invalid">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
