<div class="panel panel-default" ng-repeat="s in speakers | filter:quickSearch.text | orderBy: 'name'">

    <div class="panel-body">
        <div class="media">
            <a for-authenticated ng-click="edit(s)" href="">
                <i class="pull-right glyphicon glyphicon-edit"></i>
            </a>
            <a for-authenticated ng-click="delete(s)" href="">
                <i class="pull-right glyphicon glyphicon-remove"></i>
            </a>
            <a ng-click="detailed(s)" href="">
                <i class="pull-right glyphicon glyphicon-asterisk"></i>
            </a>

            <div class="pull-left">
                <img class="media-object img-rounded" ng-src="{{s.avatarUri}}" alt="avatar"
                     height="72px">
            </div>

            <div class="media-body">
                <h4 class="media-heading">{{s.name}}</h4>
                {{s.organization.name}}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12" align="right">
        <input type="button" ng-click="downloadPDF()" value="Download PDF" class="btn btn-default"/>
        <input type="button" ng-click="edit()" value="Add new" class="btn btn-default" for-authenticated/>
    </div>
</div>