<div class="jumbotron">

    <img src="../images/unicorn.png" class="desaturate" style="width:200px;"/>

    <h2>International Unicorn research seminar, June 2015</h2>

    <p>"Always be yourself. Unless you can be a Unicorn. Then always be an Unicorn."</p>

    <!--
	<h3>Agenda</h3>

	<p>04.00 - 08.00 Searching unicorns on the fields workshop</p>
	<p>09.00 - 09.30 Gathering and morning coffee</p>
	<p>09.30 - 10.00 Keynote - Unicorns amongst us</p>
	<p>10.00 - 12.00 Detecting elusive unicorn traces in clouds</p>
	<p>12.00 - 13.30 Lunch</p>
	<p>13.00 - 15.00 Comparative analysis of common unicorn taming
		methods</p>
	<p>15.00 - 16.00 Coffe and cookies</p>
	<p>16.00 - 18.00 Unicorn evolutionary theory</p>
	<p>19.00 Conference party</p>
-->

</div>