<div class="modal-header">
    <h3>{{ modalTitle }}</h3>
</div>
<div class="modal-body" ng-transclude>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()" ng-disabled="!modalFormValid">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>